:root{
    --black: #333;
    --grey: #767268;
    --light-grey: #7d8da1;
    --white: #fefefe;
    --extra-light: #eee;
    --yellow: #ffd000;
    --blue: #0b3e66;
    --light-blue: #187fcd;
    --danger: #ff7782;
    --success: #41f1b6;
    --color-light: rgba(24, 127, 205, 0.1);

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
    --max-width: 1200px;
    --box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    --box-shadow-1: 0 2rem 3rem var(--color-light);
}

.dashboard{
    font-size: 0.88rem;
    color: var(--black);
    width: 100vw;
    background: var(--white);
    user-select: none;
    overflow: hidden;
}

.container{
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 23rem;
}

img{
    display: block;
    width: 100%;
}

h1{
    font-weight: 800;
    font-size: 1.8rem;
}

h2{
    font-size: 1.4rem;
}

h3{
    font-size: 0.88rem;
    font-weight: 500;
}

h4{
    font-size: 0.8rem;
}

h5{
    font-size: 0.77rem;
}

small{
    font-size: 0.75rem;
}

.profile-photo{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

.text-muted{
    color: var(--light-grey);
}

p{
    color: var(--black);
}

b{
    color: var(--grey);
}

.primary{
    color: var(--light-blue);
}

.danger{
    color: var(--danger);
}

.success{
    color: var(--success);
}

.warning{
    color: var(--yellow);
}

/* ------------------------------ SIDEBAR ------------------------------- */

aside{
    height: 100vh;
}

aside .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}

.aside .top .logo{
    display: flex;
    gap: 0.8rem;
}

.logo .fa-hotel{
    color: var(--light-blue);
    font-size: 1.5rem;
    font-weight: 600;
}

.logo span{
    color: var(--black);
    font-size: 1.5rem;
    font-weight: 600;
}

#close-btn{
    display: none;
}

aside .sidebar{
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 3rem;
}

aside h3{
    font-weight: 500;
}

.link{
    list-style: none;
}

aside .sidebar .nav-link{
    display: flex;
    color: var(--black);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3rem;
    transition: all 0.3s ease;
}

aside .sidebar .nav-link span{
    font-size: 1.2rem;
    transition: all 0.3s ease;
}

aside .sidebar .link:last-child{
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

aside .sidebar li.active{
    background-color: var(--color-light);
    position: relative;
}

aside .sidebar li.active::before{
    content: "";
    width: 6px;
    height: 100%;
    background: var(--light-blue);
    position: absolute;
    left: 0;
    top: 0;
}

aside .sidebar li.active .nav-link{
    color: var(--light-blue);
    /* margin-left: 0; */
}

aside .sidebar li.active .nav-link span{
    color: var(--light-blue);
    margin-left: calc(1rem - 15px);
}

aside .sidebar li .nav-link:hover{
    color: var(--light-blue);
}

aside .sidebar li .nav-link:hover span{
    margin-left: 1rem;
}

aside .sidebar .message-count{
    background: var(--danger);
    color: var(--white);
    padding: 2px 10px;
    font-size: 11px;
    border-radius: var(--border-radius-1);
}

/* ------------------------------ MAIN SECTION ------------------------------- */

main{
    margin-top: 1.4rem;
}

main :is(.section-header){
    text-align: left;
    margin-inline: auto;
}

main .date{
    display: inline-block;
    background: var(--color-light);
    border-radius: var(--border-radius-1);
    margin-top: 1rem;
    padding: 0.5rem 1.6rem;
}

main .date input[type="date"]{
    background: transparent;
    color: var(--black);
    border: none;
    outline: none;
}

main .insights{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
}

main .insights > div{
    background: var(--white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    transition: all 0.3s ease;
}

main .insights > div span{
    background: var(--light-blue);
    padding: 0.5rem;
    border-radius: 50%;
    color: var(--white);
    font-size: 1.5rem;
}

main .insights > div.expenses span{
    background: var(--danger);
}

main .insights > div.income span{
    background: var(--success);
}

main .insights > div .middle{
    margin-top: .5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .insights h3{
    margin: 1rem 0 0.6rem;
    font-size: 1rem;
}

main .insights .progress{
    position: relative;
    width: 92px;
    height: 92px;
    border-radius: 50%;
}

main .insights .svg{
    width: 7rem;
    height: 7rem;
}

main .insights .svg circle{
    fill: none;
    stroke: var(--light-blue);
    stroke-width: 14;
    stroke-linecap: round;
    transform: translate(5px, 5px);
    stroke-dasharray: 110;
    stroke-dashoffset: 92;
}

